---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Progress from '@components/Progress.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="layout">
			<Header titulo='Caso 1A'>
				<Progress />
			</Header>

			<div class="container">
				<slot />
			</div>
			
			<Footer/>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
			);
			
		color-scheme: dark light;
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	body {
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	ul, ol {
    list-style: none;
  }

  .layout {
    display: grid;
    gap: 1rem;
	
    grid-template-columns: repeat(12, minmax(calc(25vw/12), calc(100vw/12)));
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
      ". container container container container container container container container container container ."
      "about about about about about about about about about about about about";
  }

  .header {
    grid-area: navbar;
  }

  .container {
    grid-area: container;

    min-height: 50vh;
    border-radius: 0.5rem;

    background-color: var(--color-primary);
    box-shadow: 0 0 2rem var(--color-primary);

    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
  }

  .footer {
    grid-area: about;
  }
</style>
